<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhostSportSchool" connectionString="XpoProvider=Postgres;Server=localhost;User Id=postgres;Password=root;Database=SportSchool;Encoding=UNICODE;Port=5432" />
    </connectionStrings>
</configuration>